#bd{
  background-color: #343437;
  color: white;
  
  
}
#tlo{
    width: 100vw;
    height: 100vh;
    background-image:url('tlo2.jpg');
    background-size:cover;
    background-position: center, center;
}

#kl{
  color: black;
}

#alrt{
  text-align: center;
 
  width: 100%;
}

a{
  text-decoration: none;
}

#kl:hover{
  color: white;
}

#roz {
    height: 50px;
    width: 200px;
    font-size: 30px;
    background-color: rgb(255, 255, 255) ;
    color: black;
    border-color: black;
    border-width: 3px;
    border-radius: 25px;
   
   }

  #roz:hover{
    color: rgb(255, 255, 255);
    background-color: black;
    transition: 0.4s;
     
   }

#ft{
    width: 100%;
    position: fixed;
    bottom: 0;
  
}

#bt{
    justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25%;
}

#zal {   
  background-color: black;   
  width: 100%;  
   color: white;   
   padding: 15px;   
   margin: 10px 0px;   
   border: none;   
   cursor: pointer;   
    }   
  
label{
  margin-top: 15px;
  font-weight: bold;
}

#zal:hover {   
   opacity: 0.7;   
}   
#cont{
  width: 50%;
} 
#cont2{

  text-align: center;
} 

#cont3{
  
  text-align: justify;
} 

#qz {   
  background-color: black;    
   color: white;   
   padding: 15px;   
   margin: 10px 0px 100px 0px; 
     
   border: none;   
   cursor: pointer;   
    }   
  
    #qz:hover {   
      opacity: 0.7;   
   }  

   #dod { 
     width:300px; 
     margin: 15px;
    }
#rd {
    margin-top: 25px;
    float: left;
    vertical-align: bottom;
  }


  #us {   
    background-color: black;    
     color: white;   
    margin-left: 10px;
    margin-top: 10px;
     border: none;   
     cursor: pointer;
     height: 40px;   
      }   
    
      #us:hover {   
        opacity: 0.7;   
     } 
     
     table {
 
      width: 400px;
      text-align: center;
      margin-left: auto;
  margin-right: auto;
    }
    
#brdr{
  border: solid 1px black;
  padding: 10px;
}
  
